[Unit]
Description=Service for Multiprocessing.py script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/npi/Subrack-Controller-Node-NanopiDuo2/MIDDLEWARE/CONFIG_SYSTEM_DEVICE/Multiprocesing.py
WorkingDirectory=/home/npi/Subrack-Controller-Node-NanopiDuo2/MIDDLEWARE/CONFIG_SYSTEM_DEVICE/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=npi

[Install]
WantedBy=multi-user.target